@import "tailwindcss";

:root {
  --primary: #0F2757;
  --primary-hover: rgb(25, 52, 108);
  --text-primary: #09090B;
  --border: 220 13% 91%;
  --muted-foreground: 220 9% 46%;
  --card: 0 0% 100%;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --font-urbanist: var(--font-urbanist);
}

body {
  background-color: #F3F4F6;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .custom-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

/* Prevent Recharts SVG contents from being clipped when using negative margins */
.recharts-wrapper svg {
  overflow: visible !important;
}